* {
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap');

body {
    background-color: grey;
    font-family: 'Roboto Mono', monospace;

}

.container-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:'nav nav nav nav nav nav nav nav nav nav nav nav'
    'main main main main main main main main main main main main'
    'offer offer offer offer offer offer offer offer offer offer offer offer'
    'footer footer footer footer footer footer footer footer footer footer footer footer'
    'a a a a a a a a a a a a';

}
.naw{
    background-color: yellow;
}

.naw ul li a {
    text-decoration: none;
}

a:hover {
    background-color: lightyellow;
}

nav{
    grid-area: nav;
    background-color: yellow;
    width: 100%;
    padding-left: 850px;
    font-size: 20px;
    height: 90px;
    padding-right: 50px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0;
    position: sticky;
    height: auto;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.main {
    grid-area: main;
    height: 100px;
    width: 100%;
    background-color: yellow;
    text-align: center;
    

}

.offer{
    grid-area: offer;
     margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    display: flex; /* Ustawienie flexbox */
    justify-content: space-between;
}

.offer img {
    width: 100%;
    height: auto;
}

.offer p {
    padding: 15px;
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: #232323;
    color: white;
    text-decoration: none;
    margin-top: 420px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2;
  
  } 
  .stopka-1{
    grid-column: 3/6;
    grid-row: 1/2;
    
  }
  .stopka-2{
    grid-column: 3/6;
    grid-row: 2/3;
  }
  .stopka-3{
    grid-column: 6/8;
    grid-row: 2/3;
  }
  .stopka-4{
    grid-column: 8/10;
    grid-row: 2/3;
  }
  
  li a:hover{
    background-color: rgb(67, 113, 113);
    
  }

  .autor{
    grid-area: a;
    text-align: center;
    background-color: #353434;
    color: white;
}